#dropdown-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1000;
}
.selectedFilterList {
  margin: 10px 0;
  padding: 0;
  user-select: none;
}
.selectedFilterList li {
  user-select: none;
  display: inline-block;
  margin: 5px 10px;
  cursor: pointer;
}
.selectedFilterList li i {
  color: darkgray;
}
.dropdown-main {
  border: 1px solid #cccccc;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  margin: 5px;
}
.dropdown-list {
  cursor: pointer;
  margin-left: 9px;
  position: relative;
}
.dropdown-list ul {
  user-select: none;
  padding: 5px 10px;
  list-style: none;
  border: 1px solid #cccccc;
  top: -6px;
  /* makes the thing kind of work like a dropdown list */
  position: absolute;
  background: white;
  z-index: 2500;
}
.dropdown-list ul li {
  display: inline-block;
  user-select: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
