.nav {
  margin-bottom: 1em;
}
.nav > li {
  cursor: pointer;
}
.nav.nav-pills {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav.nav-pills li a {
  color: #ad2237;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.7, 1);
  border: 2px solid #ad2237;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nav.nav-pills li a:hover {
  border-color: #821a29;
  background-color: #821a29;
  color: white;
}
.nav.nav-pills li a:active {
  background: #821a29;
  color: white;
}
.nav.nav-pills li.active a {
  background-color: #ad2237;
  color: white;
}
.nav.nav-pills li.active a:hover {
  background-color: #821a29;
  color: white;
}
.row {
  margin: 0.5em;
}
