.nav {
  margin-bottom: 1em;
}
.nav > li {
  cursor: pointer;
}
.nav.nav-pills {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav.nav-pills li a {
  color: #ad2237;
  border: 2px solid #ad2237;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.7, 1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.nav.nav-pills li a:hover,
.nav.nav-pills li a:active {
  border-color: #821a29;
  background-color: #821a29;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.2);
}
.nav.nav-pills li a:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.nav.nav-pills li.active a {
  color: white;
  background-color: #ad2237;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.nav.nav-pills li.active a:hover {
  background-color: #821a29;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.2);
}
.row {
  margin: 0.5em;
}
