<div class="row">
  <iee-electives-selected [electives]="electives"></iee-electives-selected>
</div>

<div class="row">
  <ul class="nav nav-pills">
    <li [ngClass]="{'active':(electiveOptionsType==='primary')}">
      <a data-toggle="tab" (click)="onClickTypeOption('primary')">Primary Options</a>
    </li>
    <li [ngClass]="{'active':(electiveOptionsType==='alternate')}">
      <a data-toggle="tab" (click)="onClickTypeOption('alternate')">Alternate Options</a>
    </li>
  </ul>
</div>

<div class="row">
  <iee-electives [electivesType]="electiveOptionsType" [electives]="electives"></iee-electives>
</div>
