<div *ngIf="electivesPicked">
  <h4 *ngIf="primaries.length > 0" class="text-center">Primary</h4>
  <iee-elective *ngFor="let elective of primaries"
                [elective]="elective"
                [isPrimary]="true"></iee-elective>
  <h4 *ngIf="alternates.length > 0" class="text-center">Alternate</h4>
  <iee-elective *ngFor="let elective of alternates"
                [elective]="elective"
                [isPrimary]="false"></iee-elective>
</div>
<div *ngIf="!electivesPicked" class="alert alert-warning"><h3>No Electives Selected</h3></div>
