.modal-backdrop {
  background: #555;
  opacity: 0.5;
  z-index: 10000;
  position: fixed;
}
.modal-box {
  border: 1px solid darkgray;
  background: white;
  position: fixed;
  left: 0;
  z-index: 10001;
  padding: 1em;
}
