.session {
  border: 1px solid #ccc;
  margin: 0.75em;
  padding: 1em;

  p {
    font-size: 1.2em;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }
}

.check-container {
  position: relative;
  left: 10px;
  top: -0.5ex;
}

.check-description {
  margin-top: 10px;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nudge-down {
  position: relative;
  top:15px;
}

.clickable {
  cursor: pointer;
}

.info-text {
  font-size: 0.85em;
}

.elective-choice {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  margin: auto 5px;
  padding: 10px 0;
  background: #fff;

  border: 2px solid #a7e6fb;
  //padding: 0.75em;
  margin-bottom: 0.5em;
}

.elective-time {
  margin-bottom: 0.5em;
}

.course-name {
  font-size: 1.25em;
}

.course-number {
  font-size: 0.75em;
  color: #6c6c6c;
}

.elective-type, .elective-session, .co-req {
  font-size: 0.9em;
}

.disabled {
  cursor: not-allowed;
  color: #aaa;
}

.checkbox {
  label {
    i {
      position: relative;
      left: -20px;
    }

    &.disabled {
      cursor: not-allowed;
    }
  }
}
