<div class="row" *ngFor="let pmId of education.programMajorIds">
  <div class="col-xs-12">
    <div class="session">
      <h3>{{education.programNamesByProgramMajorIds[pmId]}} &ndash; {{education.sessionsByProgramMajorIds[pmId]}}</h3>
      <p>Primary</p>
      <ul>
        <li *ngFor="let elective of education.electivesByProgramMajorIds[pmId] | selectedElectives:'primary'">
          {{elective.startTime}} - {{elective.courseDescription}}
        </li>
      </ul>
      <p>Alternates</p>
      <ul>
        <li *ngFor="let elective of education.electivesByProgramMajorIds[pmId] | selectedElectives:'alternate'">
          {{elective.startTime}} - {{elective.courseDescription}}
        </li>
      </ul>
    </div>
  </div>
</div>
