.session {
  border: 1px solid #ccc;
  margin: 0.75em;
  padding: 1em;

  p {
    font-size: 1.2em;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }
}

.check-container {
  position: relative;
  left: 10px;
  top: -0.5ex;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.info-text {
  font-size: 0.85em;
}

.disabled {
  cursor: not-allowed;
  color: #aaa;
}
