<div class="row" *ngFor="let pmId of education.programMajorIds">
  <div class="col-xs-12">
    <div class="session">
      <h3>{{education.programNamesByProgramMajorIds[pmId]}} &ndash; {{education.sessionsByProgramMajorIds[pmId]}}</h3>
      <div *ngIf="education.electivesByProgramMajorIds[pmId] && education.electivesByProgramMajorIds[pmId].length > 0">
        <p>Primary</p>
        <div class="alert alert-warning" *ngIf="primaryElectivesByProgramMajorIds.get(pmId).length === 0">
          <i class="fa fa-exclamation-triangle" style="color:red"></i> You have not picked any primary electives for
          this session. Please do this before submitting.
        </div>
        <ul *ngIf="primaryElectivesByProgramMajorIds.get(pmId).length > 0">
          <li *ngFor="let elective of primaryElectivesByProgramMajorIds.get(pmId)">
            {{elective.startTime}} - {{elective.courseDescription}}
          </li>
        </ul>
        <div class="alert alert-warning"
             *ngIf="availableCriteriaByProgramMajorIds.get(pmId) > 0 && primaryElectivesByProgramMajorIds.get(pmId).length > 0">
          <i class="fa fa-exclamation-triangle" style="color:red"></i>
          You have not chosen all electives for this session. Please go back and complete your choices.
        </div>

        <p>Alternates</p>
        <div class="alert alert-warning" *ngIf="alternateElectivesByProgramMajorIds.get(pmId).length === 0">
          <i class="fa fa-exclamation-triangle" style="color:red"></i> You have not picked any alternate electives for
          this session. Please do this before submitting.
        </div>
        <ul *ngIf="alternateElectivesByProgramMajorIds.get(pmId).length > 0">
          <li *ngFor="let elective of alternateElectivesByProgramMajorIds.get(pmId)">
            {{elective.startTime}} - {{elective.courseDescription}}
          </li>
        </ul>
      </div>
      <div *ngIf="!education.electivesByProgramMajorIds[pmId] || education.electivesByProgramMajorIds[pmId].length === 0" class="alert alert-info">
        <i class="fa fa-info-circle"></i> There are no electives available for this session.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-1 text-center check-container">
    <i class="fa"
       (click)="onClickCheckbox()"
       [ngClass]="{'fa-check-square-o': readyToSubmit, 'fa-square-o': !readyToSubmit}"></i>
  </div>
  <div class="col-xs-11">
    I'm ready to submit my electives.
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-right">
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!readyToSubmit">Submit</button>
  </div>
</div>
