<div class="elective-criteria alert"
     *ngIf="(typeCriteria.length > 0) && (electives.length > 0)">
  <p *ngFor="let criterion of typeCriteria; let i = index">
    <i *ngIf="!criterion.isSatisfied"
       class="fa fa-exclamation-triangle criterion-icon incomplete"></i>
    <i *ngIf="criterion.isSatisfied === true"
       class="fa fa-check-circle criterion-icon complete"></i>
    {{criterion.description}}
  </p>
</div>
<div class="period-criteria text-center alert alert-info"
     *ngIf="(periodCriteria.length > 0) && (electives.length > 0)">
  <div *ngFor="let criterion of periodCriteria" class="row">
    <div class="col-xs-12 margin-bottom-sm">
      <strong>Choose electives from one of the following time period groups</strong>
    </div>
    <div class="col-xs-offset-3 col-xs-6 margin-bottom-sm">
      <span [ngClass]="{stricken: criterion.pg2Satisfied}">
      <i *ngIf="criterion.pg1Satisfied" class="fa fa-check-circle" color="green"></i>
      {{criterion.group1description}}</span><br/>
      <span>&mdash; or &mdash;</span><br/>
      <span [ngClass]="{stricken: criterion.pg1Satisfied}">
      <i *ngIf="criterion.pg2Satisfied" class="fa fa-check-circle" color="green"></i>
      {{criterion.group2description}}</span>
    </div>
  </div>
</div>
