<div class="elective-criteria alert alert-warning"
     *ngIf="typeCriteria.length > 0">
  <p *ngFor="let criterion of typeCriteria; let i = index">
    <i *ngIf="!criterion.isSatisfied"
       class="fa fa-exclamation-triangle criterion-icon incomplete"></i>
    <i *ngIf="criterion.isSatisfied === true"
       class="fa fa-check-circle criterion-icon complete"></i>
    {{criterion.description}}
  </p>
</div>
<div class="period-criteria"
     *ngIf="periodCriteria.length > 0">
  <p *ngFor="let criterion of periodCriteria">
    {{criterion.description}}
  </p>
</div>
