<div class="col-xs-12 elective-time" *ngIf="isDisplayed && displayTimeHeaders && isPreviousTimeDifferent()" @removeImmediately>
  <h3>{{elective.time}}</h3>
</div>
<div class="col-xs-12" *ngIf="isDisplayed || isChecked" @shrinkOut>
  <div class="row elective-choice" [ngClass]="{'disabled': isDisabled && !isChecked}"
       (click)="onCheckChange(isDisabled && !isChecked)">
    <div class="col-xs-2 col-sm-2 text-center">
      <i class="fa fa-2x"
         [ngClass]="{'fa-check-square-o': isChecked, 'fa-square-o': !isChecked, 'disabled': isDisabled && !isChecked}"></i>
    </div>
    <div class="col-xs-10 col-sm-5">
      <div class="course-name">{{elective.courseDescription}}</div>
      <div class="elective-session">{{elective.session}}</div>
      <div class="elective-type">{{elective.electiveType}}</div>
    </div>
    <div class="col-xs-12 col-sm-5 text-right">
      <div>{{elective.time}}</div>
      <div *ngIf="isPrimary">Spaces available:
        <i *ngIf="elective.isUpdating === true" class="fa fa-spinner fa-pulse fa-fw"></i>
        <span #availableSlotsElement><span *ngIf="!elective.isUpdating">{{elective.availableSlots}}</span></span>
      </div>
    </div>
    <div class="col-xs-offset-2 col-xs-10 margin-top-sm co-req"
         *ngIf="coRequisite && coRequisite.courseDescription !== ''">
      Co-Requisite:<br/>
      {{coRequisite.courseDescription}} - {{coRequisite.session}}
    </div>
  </div>
</div>
