.elective-choice {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #a7e6fb;
  padding: 0.75em;
  margin-bottom: 0.5em;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.7, 1);
  cursor: pointer;
}
.elective-choice:hover {
  background-color: #a7e6fb;
  border-color: #3cc7f6;
}
.elective-choice.disabled,
.elective-choice.disabled:hover {
  background: #ddd;
  color: #aaa;
  border-color: #bbb;
  cursor: not-allowed;
}
.elective-time {
  margin-bottom: 0.5em;
}
.course-name {
  font-size: 1.3em;
}
.course-number {
  font-size: 0.75em;
  color: #6c6c6c;
}
.elective-type,
.elective-session,
.co-req {
  font-size: 0.9em;
}
.co-req {
  font-style: italic;
}
