<div class="col-xs-8">
  <iee-tab-container></iee-tab-container>
</div>
<div class="col-xs-4">
  <div class="well">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum nulla congue dui volutpat suscipit. Praesent quis
    sollicitudin urna, quis scelerisque urna. Aenean sit amet nibh tellus. Etiam id erat nec nibh aliquam commodo. Ut et
    malesuada eros. Nam metus magna, scelerisque non tempus vel, vulputate at neque. Cras id tristique orci.
    Pellentesque tincidunt, metus at venenatis bibendum, velit sem maximus urna, non euismod lectus odio in ligula.
    Quisque dictum nunc vitae massa consectetur, commodo volutpat magna pulvinar. Nunc pellentesque est quis vestibulum
    condimentum. Etiam vitae rhoncus lacus. Nullam tempus ultrices pharetra. Donec nec urna ornare, dapibus nisl sed,
    accumsan nisl. Phasellus tincidunt erat nec dapibus dignissim. Integer in lacus aliquet, mattis purus tristique,
    mollis tortor.</p>

    <p>Phasellus et tincidunt turpis, ut finibus dolor. Quisque ullamcorper metus tellus, quis feugiat velit viverra sed.
    Ut at mauris vulputate, varius massa et, suscipit diam. Aenean dignissim tincidunt justo egestas lobortis. Praesent
    placerat, turpis id commodo consequat, odio leo cursus ex, id sodales eros dolor sed leo. Duis ac nunc ultricies,
    congue augue et, condimentum augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
    himenaeos. Integer ullamcorper commodo rhoncus.<p>

    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer in metus felis. Integer mattis vel nisi ut
    posuere. Nullam sed nibh a orci sodales semper. Proin nec vestibulum lectus. Aenean mollis tellus sapien, at
    porttitor nulla euismod nec. Cras pharetra, metus sit amet fringilla efficitur, lorem libero semper ante, in luctus
    dolor sem sed nibh. Ut pretium quam eget libero tristique dictum. Mauris lacinia maximus iaculis.</p>
  </div>
</div>
