.instructions {
  border: 2px solid #b01e33;
}
@media only screen and (min-width: 992px) {
  .instructions {
    position: relative;
    top: 3em;
  }
}
.lesson-instructions {
  border: 2px solid darkgray;
}
@media only screen and (min-width: 992px) {
  .lesson-instructions {
    position: relative;
    top: 3em;
    margin-bottom: 5em;
  }
}
.lesson-instructions p a {
  text-decoration: underline;
}
.float-link {
  display: none;
  z-index: 9999;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
