<ul class="nav nav-tabs">
  <li *ngFor="let pmId of programMajorIds; let i = index"
      [ngClass]="{'active': (education.sessionsByProgramMajorIds[pmId] === activeTabSession)}"
      (click)="onChangeTab(i)">
    <a data-toggle="tab">{{education.sessionsByProgramMajorIds[pmId]}}</a>
  </li>
  <li [ngClass]="{'active': reviewAndSubmitActive}">
    <a data-toggle="tab" (click)="onReviewAndSubmitClicked()">Review &amp; Submit</a>
  </li>
</ul>
<div class="well" *ngIf="activeProgramMajorId">
  <div class="row">
    <div class="col-xs-12">
      <h3>{{education.programNamesByProgramMajorIds[activeProgramMajorId]}}</h3>
    </div>
    <!--<div class="col-xs-4">-->
      <!--<a class="change-tab-link" (click)="nextTab()" *ngIf="(tabIndex < programMajorIds.length)">{{nextTabName}}-->
        <!--<i class="fa fa-long-arrow-right"></i></a>-->
    <!--</div>-->
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="education.electivesByProgramMajorIds[activeProgramMajorId]
              && (education.electivesByProgramMajorIds[activeProgramMajorId].length > 0)">
        <iee-elective-criteria-container
          [activeProgramMajorId]="activeProgramMajorId"></iee-elective-criteria-container>
        <iee-elective-picker-container
          [electives]="electives"
          [tabIndex]="tabIndex"></iee-elective-picker-container>
      </div>
      <div *ngIf="(!education.electivesByProgramMajorIds[activeProgramMajorId])
              || (education.electivesByProgramMajorIds[activeProgramMajorId].length === 0)" class="alert alert-info">
        <i class="fa fa-info-circle"></i> There are no electives available for this session. Please continue to the next
        tab.
      </div>
    </div>
  </div>
</div>
<div class="well" *ngIf="reviewAndSubmitActive === true">
  <iee-review-container></iee-review-container>
</div>
<div class="col-xs-12 margin-bottom-sm">
  <div class="col-xs-6">
    <a class="change-tab-link" (click)="prevTab()" *ngIf="(tabIndex > 0)"><i class="fa fa-long-arrow-left"></i>
      Previous</a>
  </div>
  <div class="col-xs-6 text-right">
    <a class="change-tab-link" (click)="nextTab()" *ngIf="(tabIndex < programMajorIds.length)">{{nextTabName}} <i
      class="fa fa-long-arrow-right"></i></a>
  </div>
</div>
