<!-- tabs here -->
<ul class="nav nav-tabs">
  <li *ngFor="let pmId of programMajorIds; let i = index"
      [ngClass]="{'active': education.sessionsByProgramMajorIds[pmId] === activeTabSession}"
      (click)="onChangeTab(i)">
    <a data-toggle="tab">{{education.sessionsByProgramMajorIds[pmId]}}</a>
  </li>
  <li>
    <a data-toggle="tab">Review &amp; Submit</a>
  </li>
</ul>
<div class="well" *ngIf="activeProgramMajorId">
  <h3>{{education.programNamesByProgramMajorIds[activeProgramMajorId]}}</h3>
  <iee-elective-criteria-container
    [activeProgramMajorId]="activeProgramMajorId"></iee-elective-criteria-container>
  <iee-elective-picker-container
    [electives]="electives"></iee-elective-picker-container>
</div>
